<div class="col-md-4">
    <ul class="list-group">
        <a class="list-group-item">Active Directory</a>
        <a class="list-group-item">Allowed/Blocked Hosts or Subnets (Global)</a>
        <a class="list-group-item">Branding</a>
        <a href="/settings/configs/" class="list-group-item">Config Viewer</a>
        <a class="list-group-item">Default Quotas</a>
        <a class="list-group-item">Health Checks</a>
        <a href="/settings/share-permissions/" class="list-group-item">Share Permissions</a>
        <a href="/settings/backups/" class="list-group-item">TMC Backups</a>
        <a class="list-group-item">vnStat Plugin</a>
    </ul>
</div>